@model List<Greenhouse.web.Models.Asset>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://raw.githubusercontent.com/google/palette.js/master/palette.js"></script>
    <title>Client Dashboard</title>
</head>
<body onload="updateAssetTypes()">
    <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 ps-4" onclick="updateAssetTypes()" style="cursor: pointer;">User Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0 pe-4">
            <button type="button" onclick="updateSensorBetweenDates()" class="btn btn-sm btn-outline-dark">Filter Dates</button>
            <input type="date" id="startDate" class="btn btn-sm btn-outline-dark" placeholder="Start Date">
            <input type="date" id="endDate" class="btn btn-sm btn-outline-dark" placeholder="End Date">
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 pt-4">
                <div class="accordion" id="accordionAssets">

                    @foreach (Asset asset in Model)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne-@asset.Id">
                                <button class="accordion-button btn-dark" type="button" onclick="updateSensorTypes(@asset.Id)" data-bs-toggle="collapse" data-bs-target="#collapseOne-@asset.Id" aria-expanded="true" aria-controls="collapseOne-@asset.Id">
                                    @asset.Name
                                </button>
                            </h2>
                            <div id="collapseOne-@asset.Id" class="accordion-collapse collapse" aria-labelledby="headingOne-@asset.Id" data-bs-parent="#accordionAssets">
                                <div class="accordion-body">
                                    <p><strong>@asset.Description</strong></p>

                                    <div class="accordion" id="accordion-@asset.Id">

                                        @foreach (Sensor sensor in asset.Sensors)
                                        {
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingSensor-@asset.Id-@sensor.Id">
                                                    <button class="accordion-button btn-dark" type="button" onclick="updateSensor(@sensor.Id, '@sensor.Name', '@sensor.Unit')" data-bs-toggle="collapse" data-bs-target="#collapseSensor-@asset.Id-@sensor.Id" aria-expanded="true" aria-controls="collapseSensor-@asset.Id-@sensor.Id">
                                                        @sensor.Name
                                                    </button>
                                                </h2>
                                                <div id="collapseSensor-@asset.Id-@sensor.Id" class="accordion-collapse collapse" aria-labelledby="headingSensor-@asset.Id-@sensor.Id" data-bs-parent="#accordion-@asset.Id">
                                                    <div class="accordion-body">
                                                        @sensor.Description
                                                        @sensor.SensorType.Name
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <button onclick="updateAssetTypes()">Fetch Data</button>
            </div>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="col-10 w-75 mx-auto">
                    <canvas class="my-4 w-100" id="myChart"></canvas>
                </div>
            </main>
            <script type="text/javascript" src="~/js/dashboard.js"></script>
        </div>
    </div>
</body>
</html>