@model IEnumerable<Greenhouse.web.Models.Asset>

@{
	Layout = "_MainLayout";
}

<head>
	<meta name="viewport" content="width=device-width" />
	<title>List of Assets</title>
</head>
<body>
	<h4 class="text-dark text-left m-2" id="ListOfAssets">List of Assets</h4>

	@*Create a new button to generate a New Asset Type*@
	<div class="text-end m-2">
		<a asp-controller="Assets" asp-action="CreateAsset" class="btn btn-dark btn-sm">
			New Asset
		</a>
	</div>


	@*Create the table*@
	<div class="table-responsive-sm m-2">
		<table class="table table-bordered">
			<thead>
				<tr>
					@*<th>Id</th>*@
					<th>Name</th>
					<th>Description</th>
					<th>AssetType Name</th>
					<th>AssetType Description</th>
					<th>Status</th>
					<th colspan="2"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (Asset asset in Model)
				{
					<tr>
						@*<td>@asset.Id</td>*@
						<td>@asset.Name</td>
						<td>@asset.Description</td>
						<td>@asset.AssetType.Name</td>
						<td>@asset.AssetType.Description</td>
						<td>@(asset.IsActive ? "Active" : "Inactive")</td>
						<td>
							<a asp-controller="Assets" asp-action="GetAssetById" class="btn btn-outline-dark btn-sm" asp-route-id="@asset.Id">Details</a>
						</td>
						<td>
							<a asp-controller="Assets" asp-action="ChangeStateAsset" class="btn btn-outline-dark btn-sm" asp-route-id="@asset.Id">Change State</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}
