@model List<User>

    <h1>Users</h1>

    <div class="container text-end">
        <a asp-controller="User" asp-action="Create" class="btn btn-primary">Create New User</a>
    </div>

    <table class="table table-bordered table-striped">

        <tr>
            <th>Number</th><th>Name</th><th>...</th><th>...</th>
        </tr>

        @foreach(var user in Model)
{
    <tr>
        <td>@user.UserId</td>
        <td>@user.Name</td>
        <td>@user.Company</td>
        <td>@user.PhoneNumber</td>
        <td>@user.EmailAddress</td>
        <td>@user.Password</td>
        <td>
            <a asp-controller="User" asp-action="Edit" asp-route-id="@user.UserId">Edit</a>
        </td>
        <td>
            <a asp-controller="User" asp-action="Delete" asp-route-id="@user.UserId">Delete</a>
        </td>
    </tr>
}
    </table>
