@model IEnumerable<Greenhouse.web.Models.Role>

@{
	Layout = "_MainLayout";
}

<h1>
    List of Roles
</h1>

<div class="container text-end">
    <a asp-controller="Role" asp-action="Create" class="btn btn-primary">
        Create New Role
    </a>
</div>

<table class="table table-hover">
	<thead>
		<tr class="table-info">
			<th>Role Id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Active Status</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (Role role in Model)
		{
			<tr class="table-info">
				<td>@role.Id</td>
				<td>@role.Name</td>
				<td>@role.Description</td>
				<td>@role.IsActive</td>
				<th>
					<a asp-controller="Role" asp-action="GetRoleById" asp-route-id="@role.Id">Details</a>
				</th>
				<th>
					<a asp-controller="Role" asp-action="ChangeState" asp-route-id="@role.Id">ChangeState</a>
				</th>
			</tr>
		}
	</tbody>
</table>
