@model IEnumerable<Greenhouse.web.Models.Role>

@{
	Layout = "_MainLayout";
}


<head>
	<meta name="viewport" content="width=device-width" />
	<title>List of Roles</title>
</head>

<body>

	<div>
		<h4 class="text-dark text-left m-2">List of Roles</h4>
	</div>


	<div class="text-end m-2">
		<a asp-controller="Role" asp-action="Create" class="btn btn-dark btn-sm">
			New Role
		</a>
	</div>


	<div class="table-responsive-sm m-2">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Status</th>
					<th colspan="2"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (Role role in Model)
				{
					<tr>
						<td>@role.Name</td>
						<td>@role.Description</td>
						<td>@(role.IsActive ? "Active" : "Inactive")</td>
						<td>
							<a asp-controller="Role" asp-action="GetRoleById" class="btn btn-outline-dark btn-sm" asp-route-id="@role.Id">Details</a>
						</td>
						<td>
							<a asp-controller="Role" asp-action="ChangeState" class="btn btn-outline-dark btn-sm" asp-route-id="@role.Id">ChangeState</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>


@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}
