@model Greenhouse.web.Models.Role
@{
	ViewData["Title"] = "Details";
	Layout = "_MainLayout";
}

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Role Details</title>
</head>
<body>
	<form>
		<div class="row pb-2">
			<h4 class="text-dark text-left m-2">
				Role Details
			</h4>
		</div>

		<div class="border m-2 p-4">
			<hr />
			<dl class="mb-3">
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Id)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Id)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Name)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Name)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Description)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Description)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.IsActive)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.IsActive)
				</dd>
			</dl>
		</div>
		<div class="m-2">
			<a asp-controller="Role" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm">Edit</a>
			<a asp-controller="Role" asp-action="Get" class="btn btn-outline-dark btn-sm">Back to Roles</a>
		</div>
	</form>
</body>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}
