@model Greenhouse.web.Models.AssetType

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit AssetType</title>
</head>
<body>

    <div class = "row pb-2">
	<h4 class ="text-success text-left m-3">
		Edit Asset Type
	</h4>
    </div>

	<div class = "border m-2 p-4">
    <hr />
    <dl class="mb-3">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10" disabled>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <button type="submit" class="btn btn-outline-success btn-sm" >Update</button>
		<a asp-controller="AssetTypes" asp-action="GetAssetTypes" class="btn btn-outline-dark btn-sm" >Back to the list of Asset Types</a>

</div>
</body>
</html>