@model IEnumerable<Greenhouse.web.Models.AssetType>

@{
	Layout = "_MainLayout";
}

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Asset Types</title>
</head>
<body>
	<div>
		<h4 class="text-dark text-left m-2">List of Asset Types</h4>
	</div>


	@*Create a new button to generate a New Asset Type*@
	<div class="text-end m-2">
		<a asp-controller="AssetTypes" asp-action="CreateAssetType" class="btn btn-dark btn-sm">
			New Asset Type
		</a>
	</div>
	@*Create the table*@
	<div class="table-responsive-sm m-2">
		<table class="table table-bordered" id="getTable">
			<thead>
				<tr>
					@*<th>Id</th>*@
					<th>Name</th>
					<th>Description</th>
					<th>Status</th>
					<th colspan="2"></th>
			</thead>
			<tbody>
				@foreach (AssetType assetType in Model)
				{
					<tr>
						@*<td>@item.Id</td>*@
						<td>@assetType.Name</td>
						<td>@assetType.Description</td>
						<td>@(assetType.IsActive ? "Active" : "Inactive")</td>
						<td>
							<a asp-controller="AssetTypes" asp-action="GetAssetTypeById" class="btn btn-outline-dark btn-sm" asp-route-id="@assetType.Id">Details</a>
						</td>
						<td>
							<a asp-controller="AssetTypes" asp-action="ChangeStateAssetType" class="btn btn-outline-dark btn-sm" asp-route-id="@assetType.Id">Change State</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}

	<script  type="text/javascript">

		var rows = document.querySelector("td");
		var table = document.getElementById("getTable");

		for (let i in table.rows) {
			let row = table.rows[i]
			for (let j in row.cells) {
			   let col = row.cells[j]
			   if (j == 2  && col.innerHTML == "Active"){
				   row.style.backgroundColor="rgba(240, 240, 240, 1 )";
				   row.style.color="rgb(0,0,0)";
					row.style.fontWeight="500";
			   }

				 if (j == 2  && col.innerHTML == "Inactive"){
					row.style.fontWeight="lighter";
					row.style.color="rgba(140, 140, 140, 0.8)";
					//row.style.backgroundColor="rgba(236, 240, 241, 1 )";
				    //row.style.fontFamily="'Courier New', monospace" ;   
			   }   
		   } 
		}
		
	</script>
}